
# Frontend
frontend/dist/
frontend/build/
build
*.log
*.tmp
frontend/env.example
venv/

# Backend
.venv/
__pycache__/
.pytest_cache/
.coverage
coverage_reports/
coverage.xml
backend/data
backend/preprocessor/data/

# Robot framework
log.html
output.xml
report.html
screenshots/
selenium*.png

# General
**/.env
.DS_Store
Thumbs.db
*.swp
node_modules/
/package.json
/package-lock.json
database_dump.backup


# Redis
backend/dump.rdb


# OpenShift
manifests/configmap.yaml

# E2E tests
test-results/
playwright-report/
playwright-results/
e2e/playwright/.cache/
backend/.env.test