# Google API
GOOGLE_API_KEY=your_api_key_here
GEOAPIFY_API_KEY=your_api_key_here

# Docker/PostgreSQL
POSTGRES_USER=pathplanner
POSTGRES_PASSWORD=sekret
POSTGRES_DB=ecopaths

# PostgreSQL database
DB_HOST=localhost           # or OpenShift hostname
DB_PORT=5432
DB_USER=pathplanner
DB_PASSWORD=sekret
DB_NAME=ecopaths

#Logging
LOG_LEVEL=INFO
LOG_FORMAT=standard
LOG_FILE="" # e.g. "logs/app.log"
